@import "//fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin,cyrillic-ext,greek-ext,cyrillic,greek,vietnamese,latin-ext";
@import "//fonts.googleapis.com/css?family=Source+Code+Pro";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font: 14px/1.54 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    @apply underline decoration-0 underline-offset-2 decoration-dotted
}

h1 {
    @apply font-extrabold text-2xl py-1;
}

h2 {
    @apply font-bold text-xl py-2;
}

h2:before {
    content: "🍋️️️ "
}

h3 {
    @apply font-semibold py-3 underline decoration-0 underline-offset-4 decoration-wavy;
}

h3:before {
    content: "☕️ "
}

h4 {
    @apply py-1
}

h4:before {
    content: "🍃 "
}

h5 {
    @apply py-1
}

h5:before {
    content: "✈️️ "
}

h6:before {
    content: "☁️ "
}

dt {
    @apply underline underline-offset-4 decoration-1;
}

dd {
    @apply pl-2;
}

hr {
    @apply pb-2 mt-2;
}

h4 + dl {
    @apply pl-5;
}

pre > code {
    @apply text-sm;
    font-family: 'Source Code Pro', monospace
}

blockquote {
    margin: 10px 0;
    @apply text-xs rounded-md border-dashed border bg-neutral-100 dark:bg-neutral-700 border-gray-500 pl-2 pr-2 py-2 my-1
}

pre {
    @apply rounded-md border-solid border bg-neutral-200 dark:bg-neutral-800 border-gray-500 overflow-x-auto pl-2 py-2 my-1;
    line-height: 1;
}

p code {
    padding: 2px;
    @apply text-sm rounded-md border-solid border bg-neutral-200 dark:bg-neutral-800 border-gray-500 mx-1;
}

article > ul {
    @apply list-disc py-1;
}

article > ul, article > ul > li > ul {
    @apply list-disc pl-4;
}

article > ul, article > ul > li > ul > li > ul {
    @apply list-disc pl-4;
}

img[alt=image], img[alt=alt_text] {
    width: 1024px;
    padding: 10px;
    border-radius: 18px;
}

table > thead > tr > th {
    @apply text-sm border-solid border border-gray-500 mx-1;
    padding: 3px;
}

table > tbody > tr > td {
    @apply text-sm border-solid border border-gray-500 mx-1;
    padding: 3px;
}

table, pre {
    @apply mt-2 mb-4
}

.warning {
    padding: 10px;
    margin-bottom: 10px;
    @apply text-sm rounded-md bg-yellow-400 dark:bg-yellow-500;
}

.message-success {
    padding: 10px;
    margin-bottom: 10px;
    @apply text-sm rounded-md bg-lime-400 dark:bg-lime-500;
}

.message-info {
    padding: 10px;
    margin-bottom: 10px;
    @apply text-sm rounded-md bg-blue-400 dark:bg-blue-500;
}

.message-error {
    padding: 10px;
    margin-bottom: 10px;
    @apply text-sm rounded-md bg-rose-400 dark:bg-rose-500;
}