@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: Menlo, Monaco, 'Courier New', monospace;
}

* {
    box-sizing: border-box;
}

a {
    @apply underline decoration-0 underline-offset-2 decoration-dotted
}

h1 {
    @apply font-extrabold text-2xl py-1;
}

h2 {
    @apply font-bold text-xl py-2;
}

h2:before {
    content: "## "
}

h3 {
    @apply font-semibold py-3 underline decoration-0 underline-offset-4;
}

h3:before {
    content: "### "
}

h4 {
    @apply font-semibold py-3
}

h4:before {
    content: "#### "
}

h5 {
    @apply font-semibold py-3
}

h5:before {
    content: "##### "
}

h6:before {
    content: "###### "
}

dt {
    @apply underline underline-offset-4 decoration-1;
}

dd {
    @apply pl-2;
}

hr {
    @apply pb-2 mt-2;
}

h4 + dl {
    @apply pl-5;
}

pre > code {
    @apply text-sm;
}

blockquote {
    margin: 10px 0;
    @apply text-xs rounded-md border-dashed border bg-neutral-100 dark:bg-neutral-700 border-gray-500 pl-2 pr-2 py-2 my-1
}

pre {
    @apply rounded-md border-solid border bg-neutral-200 dark:bg-neutral-700 border-gray-500 overflow-x-auto pl-2 py-2 my-1;
    line-height: 1;
    display: flex;
    position: relative;
}

p code {
    padding: 2px;
    @apply text-sm rounded-md border-solid border bg-neutral-200 dark:bg-neutral-800 border-gray-500 mx-1;
}

article > ul {
    @apply list-disc py-1;
}

article > ul, article > ul > li > ul {
    @apply list-disc pl-4;
}

article > ul, article > ul > li > ul > li > ul {
    @apply list-disc pl-4;
}

img[alt=image], img[alt=alt_text] {
    width: 1024px;
    padding: 10px;
    border-radius: 18px;
}

table > thead > tr > th {
    @apply text-sm border-solid border border-gray-500 mx-1;
    padding: 3px;
}

table > tbody > tr > td {
    @apply text-sm border-solid border border-gray-500 mx-1;
    padding: 3px;
}

table, pre {
    @apply mt-2 mb-4
}

.message-warning {
    padding: 10px;
    margin-bottom: 10px;
    @apply text-sm rounded-md bg-yellow-400 dark:bg-yellow-500;
}

.message-success {
    padding: 10px;
    margin-bottom: 10px;
    @apply text-sm rounded-md bg-lime-400 dark:bg-lime-500;
}

.message-info {
    padding: 10px;
    margin-bottom: 10px;
    @apply text-sm rounded-md bg-blue-400 dark:bg-blue-500;
}

.message-error {
    padding: 10px;
    margin-bottom: 10px;
    @apply text-sm rounded-md bg-rose-400 dark:bg-rose-500;
}


/* https://github.com/markedjs/marked/blob/master/docs/css/style.css */

.div-copy {
    position: absolute;
    top: 0;
    right: 0;
}

.div-copy .icon-copy {
    opacity: 1;
    transition: opacity .3s;
    height: 28px;
    width: 28px;
    cursor: pointer;
    padding: 4px;
}

.div-copy.active .icon-copy {
    opacity: 1;
}

.div-copy .tooltip-copy {
    position: relative;
}

.div-copy .tooltip-copy::before {
    content: "Copied";
    position: absolute;

    /* vertically center */
    top: 50%;
    transform: translateY(-50%);

    /* move to right */
    right: 100%;
    margin-right: 5px; /* and add a small left margin */

    /* basic styles */
    padding: 2px 7px;
    border-radius: 5px;
    background: #444;
    color: #fff;
    text-align: center;

    opacity: 0; /* hide by default */
    transition: opacity .3s;
}

.div-copy.click .tooltip-copy::before {
    opacity: 1;
}

.div-copy .tooltip-copy::after {
    content: "";
    position: absolute;

    /* position tooltip correctly */
    right: 100%;
    margin-right: -5px;

    /* vertically center */
    top: 50%;
    transform: translateY(-50%);

    /* the arrow */
    border-style: solid;
    border-width: 2px 2px 5px 8px;
    border-color: transparent transparent transparent #444;

    opacity: 0;
    transition: opacity .3s;
}

.div-copy.click .tooltip-copy::after {
    opacity: 1;
}